.header {
  margin: 10px 5%;
  padding: 10px;
  background: #fff;
}

.header__wrapper {
  display: flex;
  align-items: flex-end;
}

.header__lang {
  position: relative;
}

.header__langImage {
  height: 30px;
  cursor: pointer;
  margin-top: 2px;
}

.header__langImage:hover + .header__langList {
  opacity: 1;
  z-index: 1;
}

.header__langList:hover {
  opacity: 1;
  z-index: 1;
}

.header__langList {
  position: absolute;
  bottom: -3px;
  left: 0;
  z-index: -1;

  opacity: 0;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;

  list-style-type: none;
  border: none;
  outline: none;
  transform: translate(15%, 100%);
}

.header__langList li {
  font-weight: 500;
  margin-top: 5px;
  cursor: pointer;
}
